body {
  font-family: @font-1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  .responsive-text-size(@h1-font-size);
  font-weight: 200;
}

h2 {
  .responsive-text-size(@h2-font-size);
}

h3 {
  .responsive-text-size(@h3-font-size);
}

h4 {
  .responsive-text-size(@h4-font-size);
}

p {
  .responsive-text-size(@paragraph-font-size);
}

a {
  .responsive-text-size(@link-font-size);
}

.responsive-text-size(@base-size: 16)
{
  font-size: @base-size + px;

  @media (max-width: 767px) {
    font-size: (@base-size/1.5) + px
  }

  @media (max-width: 500px) {
    font-size: (@base-size/2) + px
  }

  @media (max-width: 400px) {
    font-size: (@base-size/2.3) + px
  }
}


.bg-color-1 {
  .bg-color-opaque(@color-1);
}

.bg-color-1-light {
  .bg-color-opaque(@color-1-light);
}

.bg-color-1-lighter {
  .bg-color-opaque(@color-1-lighter);
}

.bg-color-1-dark {
  .bg-color-opaque(@color-1-dark);
}

.bg-color-1-darker {
  .bg-color-opaque(@color-1-darker);
}

.bg-color-2 {
  .bg-color-opaque(@color-2);
}

.bg-color-2-light {
  .bg-color-opaque(@color-2-light);
}

.bg-color-2-lighter {
  .bg-color-opaque(@color-2-lighter);
}

.bg-color-2-dark {
  .bg-color-opaque(@color-2-dark);
}

.bg-color-2-darker {
  .bg-color-opaque(@color-2-darker);
}

.bg-color-3 {
  .bg-color-opaque(@color-3);
}

.bg-color-3-light {
  .bg-color-opaque(@color-3-light);
}

.bg-color-3-lighter {
  .bg-color-opaque(@color-3-lighter);
}

.bg-color-3-dark {
  .bg-color-opaque(@color-3-dark);
}

.bg-color-3-darker {
  .bg-color-opaque(@color-3-darker);
}

.bg-color-4 {
  .bg-color-opaque(@color-4);
}

.bg-color-4-light {
  .bg-color-opaque(@color-4-light);
}

.bg-color-4-lighter {
  .bg-color-opaque(@color-4-lighter);
}

.bg-color-4-dark {
  .bg-color-opaque(@color-4-dark);
}

.bg-color-4-darker {
  .bg-color-opaque(@color-4-darker);
}

.bg-color-gray-light {
  .bg-color-opaque(@color-gray-light);
}

.bg-color-gray-dark {
  .bg-color-opaque(@color-gray-dark);
}

.bg-color-white {
  .bg-color-opaque(@color-white);
}

.bg-color-black {
  .bg-color-opaque(@color-black);
}

.bg-color-1-fade {
  .bg-color-fade(@color-1);
}

.bg-color-1-light-fade {
  .bg-color-fade(@color-1-light);
}

.bg-color-1-lighter-fade {
  .bg-color-fade(@color-1-lighter);
}

.bg-color-1-dark-fade {
  .bg-color-fade(@color-1-dark);
}

.bg-color-1-darker-fade {
  .bg-color-fade(@color-1-darker);
}

.bg-color-2-fade {
  .bg-color-fade(@color-2);
}

.bg-color2-light-fade {
  .bg-color-fade(@color-2-light);
}

.bg-color2-lighter-fade {
  .bg-color-fade(@color-2-lighter);
}

.bg-color-2-dark-fade {
  .bg-color-fade(@color-2-dark);
}

.bg-color-2-darker-fade {
  .bg-color-fade(@color-2-darker);
}

.bg-color-3-fade {
  .bg-color-fade(@color-3);
}

.bg-color-3-light-fade {
  .bg-color-fade(@color-3-light);
}

.bg-color-3-lighter-fade {
  .bg-color-fade(@color-3-lighter);
}

.bg-color-3-dark-fade {
  .bg-color-fade(@color-3-dark);
}

.bg-color-3-darker-fade {
  .bg-color-fade(@color-3-darker);
}

.bg-color-4-fade {
  .bg-color-fade(@color-4);
}

.bg-color-4-light-fade {
  .bg-color-fade(@color-4-light);
}

.bg-color-4-lighter-fade {
  .bg-color-fade(@color-4-lighter);
}

.bg-color-4-dark-fade {
  .bg-color-fade(@color-4-dark);
}

.bg-color-4-darker-fade {
  .bg-color-fade(@color-4-darker);
}

.bg-color-gray-light-fade {
  .bg-color-fade(@color-gray-light);
}

.bg-color-gray-dark-fade {
  .bg-color-fade(@color-gray-dark);
}

.bg-color-white-fade {
  .bg-color-fade(@color-white);
}

.bg-color-black-fade {
  .bg-color-fade(@color-black);
}

.font-color-1 {
  .font-color-opaque(@color-1);
}

.font-color-1-light {
  .font-color-opaque(@color-1-light);
}

.font-color-1-lighter {
  .font-color-opaque(@color-1-lighter);
}

.font-color-1-dark {
  .font-color-opaque(@color-1-dark);
}

.font-color-1-darker {
  .font-color-opaque(@color-1-darker);
}

.font-color-2 {
  .font-color-opaque(@color-2);
}

.font-color-2-light {
  .font-color-opaque(@color-2-light);
}

.font-color-2-lighter {
  .font-color-opaque(@color-2-lighter);
}

.font-color-2-dark {
  .font-color-opaque(@color-2-dark);
}

.font-color-2-darker {
  .font-color-opaque(@color-2-darker);
}

.font-color-3 {
  .font-color-opaque(@color-3);
}

.font-color-3-light {
  .font-color-opaque(@color-3-light);
}

.font-color-3-lighter {
  .font-color-opaque(@color-3-lighter);
}

.font-color-3-dark {
  .font-color-opaque(@color-3-dark);
}

.font-color-3-darker {
  .font-color-opaque(@color-3-darker);
}

.font-color-4 {
  .font-color-opaque(@color-4);
}

.font-color-4-light {
  .font-color-opaque(@color-4-light);
}

.font-color-4-lighter {
  .font-color-opaque(@color-4-lighter);
}

.font-color-4-dark {
  .font-color-opaque(@color-4-dark);
}

.font-color-4-darker {
  .font-color-opaque(@color-4-darker);
}

.font-color-gray-light {
  .font-color-opaque(@color-gray-light);
}

.font-color-gray-dark {
  .font-color-opaque(@color-gray-dark);
}

.font-color-white {
  .font-color-opaque(@color-white);
}

.font-color-black {
  .font-color-opaque(@color-black);
}

.border-left-color-1 {
  border-left-color: @color-1;
}

.border-left-color-1-light {
  border-left-color: @color-1-light;
}

.border-left-color-1-lighter {
  border-left-color: @color-1-lighter;
}

.border-left-color-1-dark {
  border-left-color: @color-1-dark;
}

.border-left-color-1-darker {
  border-left-color: @color-1-darker;
}

.border-left-color-2 {
  border-left-color: @color-2;
}

.border-left-color-2-light {
  border-left-color: @color-2-light;
}

.border-left-color-2-lighter {
  border-left-color: @color-2-lighter;
}

.border-left-color-2-dark {
  border-left-color: @color-2-dark;
}

.border-left-color-2-darker {
  border-left-color: @color-2-darker;
}

.border-left-color-3 {
  border-left-color: @color-3;
}

.border-left-color-3-light {
  border-left-color: @color-3-light;
}

.border-left-color-3-lighter {
  border-left-color: @color-3-lighter;
}

.border-left-color-3-dark {
  border-left-color: @color-3-dark;
}

.border-left-color-3-darker {
  border-left-color: @color-3-darker;
}

.border-left-color-4 {
  border-left-color: @color-4;
}

.border-left-color-4-light {
  border-left-color: @color-4-light;
}

.border-left-color-4-lighter {
  border-left-color: @color-4-lighter;
}

.border-left-color-4-dark {
  border-left-color: @color-4-dark;
}

.border-left-color-4-darker {
  border-left-color: @color-4-darker;
}

.bg-color-opaque(@color) {
  background-color: @color;
}

.bg-color-fade(@color) {
  background-color: rgba(red(@color), green(@color), blue(@color), .5);
}

.font-color-opaque(@color) {
  color: @color;
}

.font-color-fade(@color) {
  color: rgba(red(@color), green(@color), green(@color), .5);
}

.font-1 {
  font-family: @font-1;
}

.font-2 {
  font-family: @font-2;
}

.font-3 {
  font-family: @font-3;
}

.boxed-layout {
  max-width: @content_width;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 90%;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.opacity0 {
  opacity: 0;
}

.margin-top {
  margin-top: 60px;
}

.margin-bottom {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}


