.header-skin-1 {
  position: relative;
  text-align: center;
  z-index: 1500;

  .custom-logo-link {
    display: inline-block;
    .custom-logo {
      display: inline-block;
      height: auto;
      margin: 15px auto 10px;
      max-width: 200px;
      width: 100%;
    }
  }



  ul
  {
    li {
      display: inline-block;
      font-weight: 200;

      a {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        .font-2;
        .font-color-gray-dark;
        font-weight: 300;
        letter-spacing: 4px;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .current-menu-item a{
      font-weight: 700;
      opacity: 1;
    }
  }
}


.header-skin-2 {
  position: relative;
  text-align: center;
  z-index: 1500;

  .custom-logo {
    display: inline-block;
    height: auto;
    margin: 15px auto 10px;
    max-height: 100px;
    width: 40%;
  }

  ul
  {
    li {
      display: inline-block;
      font-weight: 200;
      .responsive-text-size(@h4-font-size) !important;

      a {
        .font-2;
        .font-color-gray-dark;
        font-size: 16px !important;
        font-weight: 300;
        letter-spacing: 4px;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .current-menu-item a{
      font-weight: 700;
      opacity: 1;
    }
  }
}


.header-skin-3 {
  text-align: center;
  position: relative;
  z-index: 1500;

  .custom-logo {
    display: inline-block;
    height: auto;
    margin: 15px auto 10px;
    max-height: 100px;
    width: 100%;
  }

  ul
  {
    li {
      display: inline-block;
      font-weight: 200;
      .responsive-text-size(@h4-font-size) !important;

      a {
        .font-2;
        .font-color-gray-dark;
        font-size: 16px !important;
        font-weight: 300;
        letter-spacing: 4px;
        &:hover {
          text-decoration: none;
        }
      }
    }

    .current-menu-item a{
      font-weight: 700;
      opacity: 1;
    }
  }
}


header .menu>.menu-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  >a{
    .responsive-text-size(@header_link_size);
    text-transform: uppercase;
  }

  >.sub-menu {
    background-color: rgba(red(@color-1-lighter), green(@color-1-lighter), blue(@color-1-lighter), .7); //rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 3px solid #ffffff;//rgba(red(@color1), green(@color1), blue(@color1), .7);
    margin-top: -10px;

    a {
      .font-1;
      font-weight: 400;
      letter-spacing: 2px;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-width: 11px;
      bottom: 100%;
      content: " ";
      height: 0;
      left: 50%;
      margin-left: -48px;
      position: absolute;
      width: 0;
    }

    >.menu-item {
      &:hover {
        a {
          .font-color-1;
        }
      }

      &:first-child {
        padding-top: 5px;
      }

      &:last-child {
        padding-bottom: 5px;
      }

      margin-left: -60px;
      padding-left: 40px;
      width: 170px;

      a {
       .font-color-gray-dark;
      }

      & > .sub-menu {
        background-color: rgba(255, 255, 255, 0.7);
        border-bottom-right-radius: 5px;
        border-left: 3px solid #ffffff;
        border-top-right-radius: 5px;
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 10px;

        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-right-color: rgba(255, 255, 255, 1);
          border-width: 11px;
          content: " ";
          height: 0;
          left: -22px;
          position: absolute;
          right: 100%;
          top: 12px;
          width: 0;
        }

        &>.menu-item {
          display: block;
          margin-left: -20px;
          margin-top: 0px;
          width: 170px;

          &:first-child {
            padding-top: 5px;
          }

          &:last-child {
            padding-bottom: 5px;
          }

          &:hover {
            a {
              .font-color-1;
            }
          }
        }

        a {
         .font-color-gray-dark;
        }
      }
    }
  }
}


header {
  left: 0;
  width: 100%;

  .dm-header-bottom {
    background-color: rgba(0, 0, 0, 0);
    bottom: 0px;
    height: 2px;
    position: absolute;
    width: 100%;
  }

  li {
    position: relative;
    text-align: left;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &:hover > ul {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s;
      visibility: visible;
      opacity: 1;
    }
  }

  a {
    display: block;
    padding: 5px 0;
  }

  ul {
    ul {
      position: absolute;
      left: 0;
      top: 100%;
      visibility: hidden;
      opacity: 0;

      ul {
        left: 100%;
        top: 0;
      }
    }
  }
}


.header-light-contents {


  .custom-logo {
    -webkit-filter: brightness(1000%);
    -moz-filter: brightness(1000%);
    -ms-filter: brightness(1000%);
    -o-filter: brightness(1000%);
    filter: brightness(1000%);

    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }

  .dm-desktop-menu {
    position: relative;
    .sub-menu {
      background-color: rgba(255, 255, 255, 0.80) !important;
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }

    li {
      a {
        .font-color-white;
        opacity: 0.9;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
      }
    }
  }

  .dm-mobile-menu {
    .dm-trigger {
      .dm-icon {
        .font-color-white;
      }
    }
  }
}

.header-dark-contents {
  .custom-logo {

    -webkit-filter: brightness(10%);
    -moz-filter: brightness(10%);
    -ms-filter: brightness(10%);
    -o-filter: brightness(10%);
    filter: brightness(10%);
  }

  .dm-desktop-menu {
    li {
      a {
        .font-color-gray-dark;
        opacity: 0.9;
      }
    }
  }
  .dm-mobile-menu {
    .dm-trigger {
      .dm-icon {
        .font-color-gray-dark
      }
    }
  }
}


header {
  // set animation
  -webkit-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
  position: relative;
  width: 100%;
}

.header-sticky-mode {
  .dm-header-bottom {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  }
}





.dm-mobile-menu {
  display: none;
  overflow: scroll;
  .dm-trigger-container {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;

    .dm-trigger {
      border: 2px solid rgba(235, 235, 235, 0.7);
      border-radius: 5px;
      cursor: pointer;
      height: 35px;
      line-height: 33px;
      position: relative;
      //-webkit-transition: all 0.7s ease;
      //transition: all 0.7s ease;
      width: 35px;
      z-index: 1002;
    }
  }

  .dm-mobile-menu-inner {
    height: 100vh;
    left: -250px;
    max-height: 100vh;
    max-width: 100vw !important;
    overflow: scroll;
    padding: 70px 0px;
    position: fixed;
    top: 0px;
    width: 250px;
    z-index: 5000;

    li {
      display: block;
    }

    >ul {
      padding-left: 20px;
    }
    ul {
      background-color: rgba(255, 255, 255, 0);
      display: block !important;
      left: 0;
      margin-left: 0;
      opacity: 1;

      position: relative !important;
      visibility: visible;


      li {
        a {

        }
      }
    }

    .menu-item>.sub-menu {
      background-color: rgba(255, 255, 255, 0);
    }
  }



  li:hover {
    ul {
      display: block;
    }
  }
}

#page-contents {
  position: relative;
}


