

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;



  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
  animation-duration: .6s;
}

.fade-out {
  -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;



  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: .6s;
  -moz-animation-duration: .6s;
  animation-duration: .6s;
}

.fade-up {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeUp ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeUp ease-in 1;
  animation:fadeUp ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-down {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeDown ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeDown ease-in 1;
  animation:fadeDown ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.6s;
  -moz-animation-duration:0.6s;
  animation-duration:0.6s;
}

.fade-down-big {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeDownBig ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeDownBig ease-in 1;
  animation:fadeDownBig ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.6s;
  -moz-animation-duration:0.6s;
  animation-duration:0.6s;
}


.fade-left {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeLeft ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeLeft ease-in 1;
  animation:fadeLeft ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.delay-1 {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}


/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }


@-webkit-keyframes fadeUp { from { opacity:0; margin-top: 50px; } to { opacity:1; margin-top: 0px; } }
@-moz-keyframes fadeUp { from { opacity:0; margin-top: 50px; } to { opacity:1; margin-top: 0px; } }
@keyframes fadeUp { from { opacity:0; margin-top: 50px; } to { opacity:1; margin-top: 0px; } }

@-webkit-keyframes fadeDown { from { opacity:0; margin-top: -50px; } to { opacity:1; margin-top: 0px; } }
@-moz-keyframes fadeDown { from { opacity:0; margin-top: -50px; } to { opacity:1; margin-top: 0px; } }
@keyframes fadeDown { from { opacity:0; margin-top: -50px; } to { opacity:1; margin-top: 0px; } }

@-webkit-keyframes fadeDownBig { from { opacity:0; margin-top: -200px; } to { opacity:1; margin-top: 0px; } }
@-moz-keyframes fadeDownBig { from { opacity:0; margin-top: -200px; } to { opacity:1; margin-top: 0px; } }
@keyframes fadeDownBig { from { opacity:0; margin-top: -200px; } to { opacity:1; margin-top: 0px; } }


@-webkit-keyframes fadeLeft { from { opacity:0; margin-left: 50px; } to { opacity:1; margin-left: 0px; } }
@-moz-keyframes fadeLeft { from { opacity:0; margin-left: 50px; } to { opacity:1; margin-left: 0px; } }
@keyframes fadeLeft { from { opacity:0; margin-left: 50px; } to { opacity:1; margin-left: 0px; } }
