@content_width:1200px;
@h1-font-size:40;
@h2-font-size:35;
@h3-font-size:30;
@h4-font-size:25;
@h5-font-size:22;
@h6-font-size:19;
@paragraph-font-size:16;
@link-font-size:16;
@header_link_size: 14;
@font-1: "";
@font-2: "";
@font-3: "";


@color-1: #333333;
@color-1-light: #727272;
@color-1-lighter: #8c8c8c;
@color-1-dark: #000000;
@color-1-darker: #000000;

@color-2: #666666;
@color-2-light: #a5a5a5;
@color-2-lighter: #bfbfbf;
@color-2-dark: #333333;
@color-2-darker: #0c0c0c;

@color-3: #999999;
@color-3-light: #d8d8d8;
@color-3-lighter: #f2f2f2;
@color-3-dark: #666666;
@color-3-darker: #3f3f3f;

@color-4: #aaaaaa;
@color-4-light: #e9e9e9;
@color-4-lighter: #ffffff;
@color-4-dark: #767676;
@color-4-darker: #505050;

@color-gray-light: #999999;
@color-gray-dark: #555555;
@color-white: #ffffff;
@color-black: #000000;
