a {
	text-decoration: none;
}

.button-hero.button-import-demo,
.button-hero.button-export-demo,
.button-hero.button-delete-data
{
    display: inline-block;
    color: #ffffff;
    margin: 15px 13px 3px 0;
    font-size: 1.3em;
    border-radius: 5px;
    letter-spacing: 1px;
    padding: 12px 20px;
	width: auto;
	min-width: 250px;
	text-align: center;
    line-height: 1.4285714;
    white-space: normal;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 500ms ease-out 1s;
	-moz-transition: all 500ms ease-out 1s;
	-o-transition: all 500ms ease-out 1s;
	transition: all 500ms ease-out 1s;
}

.button-hero.button-import-demo {
	background-color: #27ae60;
}

.button-hero.button-export-demo {
	background-color: #e74c3c;
}

.button-hero.button-delete-data {
	background-color: #34495e;
}

.button-hero .dm-label {
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #fff;
}

.dm-welcome-container {
    margin-bottom: 50px;
}

.dm-welcome-container {
    color: #ff9900;
    cursor: pointer;
    letter-spacing: 0px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    font-weight: 700;
}

.dm-welcome-container {
    font-size: 1.2em;
}

#dm-welcome-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #23282d;
	text-align: center;
	padding-top: 30vh;
}

#dm-welcome-container .title {
	color: #23282d;
	letter-spacing: 2px;
	font-size: 1.6em;
	font-weight: 400;
	font-style: italic;
}

.dm-welcome-container {
	margin-top: 30px;
	margin-left: 20px;
}

.loader-inner>div {
	background-color: #ffffff !important;
}

.loader {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.button-hero .loader {
	position: absolute;
	top: 5px;
	left: 70px;
}

.button-hero.button-import-demo>p {

}

.opacity0 {
	opacity: 0;
}

.message-response {
	visibility: hidden;
	display: inline-block;
}

.message-response.success {
	color: #27ae60;
	visibility: visible;
}

.message-response.fail {
	color: #e74c3c;
	visibility: visible;
}










