@-webkit-keyframes insertElement {
  0%   { opacity: 0.99; }
  100% { opacity: 1; }
}
@-moz-keyframes insertElement {
  0%   { opacity: 0.99; }
  100% { opacity: 1; }
}
@-o-keyframes insertElement {
  0%   { opacity: 0.99; }
  100% { opacity: 1; }
}
@keyframes insertElement {
  0%   { opacity: 0.99; }
  100% { opacity: 1; }
}

.dm-animate {
  -webkit-animation: insertElement 0.001s; /* Safari 4+ */
  -moz-animation:    insertElement 0.001s; /* Fx 5+ */
  -o-animation:      insertElement 0.001s; /* Opera 12+ */
  animation:         insertElement 0.001s; /* IE 10+, Fx 29+ */
}