.dm-post-1 {
  margin-bottom: 40px;
  position: relative;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  .title {
    .font-color-gray-dark;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    margin: 0.5em auto 0;
    width: 80%;
  }
  .date {
    .font-color-1;
    .font-2;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    width: 80%;

    a{
      .font-color-1;
    }
  }
  .content {
    .font-color-gray-light;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 0 auto;
    text-align: justify;
    width: 80%;

    span {
      .font-color-1;
      font-weight: 600;
    }
  }

  .separator {
    width: 40%;
    margin: 50px auto 0;
    min-width: 150px;
  }

  .separator2 {
    .bg-color-1;
    height: 20em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
  }

  &:last-child .separator2{
    display: none;
  }
}

.dm-post-1.post_single {
  text-align: center;

  .dm-featured-image {
    margin-bottom: 40px;
    margin-top: 0px;
  }

  a:hover,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .title {
    font-weight: 100 !important;
    letter-spacing: (@h1-font-size/17) + px;
    margin-top: 10px;
    a {
     .font-color-gray-dark;
    }
  }

  .date {
    letter-spacing: (@h4-font-size/10) + px;
  }

  .content {
    letter-spacing: 2px;
    font-weight: 200 !important;
    margin-top: 30px;
  }

  .separator {
    margin-top: 10px;
    width: 20%;
  }

  .separator2 {
    display: none;
  }

  .dm-info {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;

    .dm-social {
      display: inline-block;
      float: left;
      margin-left: -15px;
    }

    .dm-author {
      display: inline-block;
      float: right;
      .font-color-gray-light;
      font-style: italic;
      font-weight: 100 !important;
      letter-spacing: (@h3-font-size/10) + px;
      margin-top: 31px;
      margin-right: -15px;
      text-align: right;

      a {
       .font-color-gray-dark;
      }
    }

    .dm-highlight {
      font-weight: 200;
     .font-color-gray-dark;
    }
  }
}

.post_single {
  margin-top: 100px;
}