.btn-1 {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  position: relative;
  width: 300px;

  .dm-icon {
    display: inline-block;
    font-size: 15pt;
    height: 50px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
  }

  .dm-label {
    display: inline-block;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
  }

  .arrow-right {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left-style: solid;
    border-left-width: 10px;
    display: inline-block;
    height: 0;
    left: 50px;
    position: absolute;
    top: 16px;
    width: 0;
  }
}