.dm-content-with-brackets-1 {
  padding-top: 40px;
  padding-bottom: 60px;

  .dm-bracket {
    color: #e5d8c8 !important;
    font-size: 200px;
    font-weight: 100;
    position: absolute;
  }

  .dm-column-1 {
    padding-top: 60px;
    position: relative;

    .dm-content {
      color: #e5d8c8;
      font-weight: 600;
      letter-spacing: 2px;
      margin-right: 70px;
      text-align: right;
    }

    .dm-bracket {
      top: 0;
      right: 0;
    }
  }

  .dm-column-2 {
    color: #e5d8c8;
    display: table;
    height: 190px;
    letter-spacing: 2px;
    margin-top: 62px;
    text-align: center;
    width: 100%;

    .dm-content {
      display: table-cell;
      letter-spacing: (@h2-font-size/6) + px;
      line-height: 1.5;
      vertical-align: middle;
    }
  }

  .dm-column-3 {
    padding-top: 60px;
    position: relative;

    .dm-content {
      color: #62acac;
      font-weight: 200;
      letter-spacing: 2px;
      line-height: 1.4;
      margin-left: 70px;
    }

    .dm-bracket {
      top: 0;
      left: 0;
    }
  }
}
