.contact-form {
  .font-1;

  input {
    border: 2px solid @color-1;
    font-weight: 300;
    height: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 1.1em;
    text-align: center;
    width: 100%;
  }

  p {
    font-weight: 500;
    letter-spacing: 1px;
  }

  textarea {
    border: 2px solid @color-1;
    height: 9.9em;
    width: 100%;
  }

  .btn-action  {
    .font-color-1;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.1em;
    position: relative;
    width: 100%;

    .btn-arrow-right {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid;
      display: inline-block;
      height: 0;
      left: 3em;
      position: absolute;
      top: 0.55em;
      width: 0;
    }

    span {
      .font-2;
      border: 2px solid @color-1;
      display: inline-block;
      font-weight: 700;
      height: 2.5em;
      letter-spacing: 4px;
      line-height: 2.5em;
      text-align: center;
      width: 100%;
    }

    .icon-container {
      .bg-color-1;
      display: inline-block;
      height: 2.5em;
      position: absolute;
      top: 0;
      width: 3.1em;
    }

    i {
      color: @color-white;
      display: inline-block;
      font-size: 15pt;
      height: 2.5em;
      line-height: 1.8em;
      text-align: center;
      width: 100%;
    }
  }
}