.feature-item-1 {
  margin-top: 3em;
  position: relative;
  text-align: center;

  .icon-container-hexagon {
    background-size: 10em;
    height: 115px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 140px;

    i {
      .font-color-white;
      font-size: 35pt;
      line-height: 115px;
      text-align: center;
      width: 100%;
    }
  }

  .title {
    .font-2;
    letter-spacing: 2px;
    margin-top: 1em;
  }

  .description {
    letter-spacing: 1px;
    margin: -0.3em auto 0;
    width: 90%;
  }
}


.dm-feature-item-2 {
  .dm-title {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
      font-weight: 100 !important;
      letter-spacing: 7px;
    }
  }

  .dm-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a {
      font-weight: 200!important;
      letter-spacing: 2px;
      line-height: 1.5;
    }
  }
}