footer {

  // Contact Us
  .dm-title,
  .widgettitle,
  h2>a.rsswidget {
    .font-color-white;
    font-weight: 100;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 35px;
    text-align: center;
  }

  .dm-content {
    letter-spacing: 1px;
    font-weight: 200;
    text-align: left;
  }

  .contact-highlight {
    font-weight: 500;
  }


  // Follow Us
  .social-icon {
    border: 2px solid #ffffff;
    border-radius: 50%;
    height: 40px;
    line-height: 36px;
    margin-bottom: 17px;
    text-align: center;
    width: 40px;
  }

  .dm-social-icon-container {
    text-align: center;
  }


  // Newsletter
  .footer-section-newsletter {
    .dm-content {
      font-size: 13px !important;
      font-style: italic;
      letter-spacing: 2px;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
  }

  .dm-button {
    @size: 35;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    height: @size;
    margin-top: 20px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;

    .icon {
      .bg-color-white;
      display: inline-block;
      .font-2;
      .font-color-black;;
      font-size: 16px;
      left: -6px;
      line-height: @size + px;
      height: (@size + 1) + px;
      position: absolute;
      text-align: center;
      top: 0;
      width: @size + px;
    }

    .text {
      .bg-color-black;
      border: 0;
      .font-2;
      .font-color-white;
      font-style: italic;
      letter-spacing: 1px;
      line-height: @size + px;
      margin-left: (@size + 10) + px;
      margin-bottom: 0;
      opacity: 0.9;
      outline: 0;
      padding-bottom: 0;
    }
  }


  //Other info
  .footer-section-info {
    .dm-content {
      font-size: 13px !important;
      font-style: italic;
      letter-spacing: 2px;
      margin: 0 auto 10px;
      text-align: left;
      width: 100%;
    }
  }


  //Archives, Categories, Pages widgets
  .widget {
    ul {
      list-style-type: none;

      li {
        border-bottom: 1px solid #252525;
        margin-bottom: 5px;
        padding: 8px 7px;
        width: auto;

        a {
          .font-color-gray-light;
          .font-1;
          font-weight: 200;
          font-size: 12px !important;
          letter-spacing: 2px;
          text-align: left;
          &:hover {
            .font-color-1;
            font-weight: 400;
            text-decoration: none;
          }

          &:before {
            content: ">";
            margin-right: 3px;
          }
        }
      }
    }

    .calendar_wrap {
      margin: 0 auto;
      text-align: center;
      width: 100%;

      caption {
       .font-color-gray-dark;
        .font-1;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
      }

      table {
        margin: 0 auto;
      }
    }
  }
  ul {
    list-style:none;
    -webkit-padding-start: 0px;
  }

  li{
    border-bottom: 2px solid #222222;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 8px;
    text-align: left;

    a {
     .font-color-gray-dark;
      &:before {
        content: "> ";
      }
    }
  }

  .calendar_wrap {
    text-align: center;
    table {
      margin: 0 auto;
      width: 100%;
      text-align: center;

      th {
        text-align: center;
      }

      td {
        .font-color-gray-light;

        a {
          .font-color-1;
        }
      }
    }

    caption {
      border-bottom: 2px solid #222222;
     .font-color-gray-dark;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 5px;
      margin-top: -5px;
    }
  }


  // Search
  .search-form {
    text-align: center;

    label {
     .font-color-gray-dark;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 14px;
    }

    input[type="text"] {
      background-color: rgba(0, 0, 0, 0);
      border-radius: 20px;
      border: 1px solid @color-gray-dark;
      display: block;
      .font-color-gray-light;
      margin-bottom: 15px;
      outline: none;
      padding: 4px 7px;
      text-align: center;
      width: 100%;
    }

    input[type="submit"] {
      .bg-color-white;
      border: none;
      border-radius: 20px;
      .font-color-black;;
      font-weight: 700 !important;
      letter-spacing: 1px;
      padding: 4px 7px;
      width: 100%;
    }
  }


  //Newsfeed
  .rss-widget-icon {
    display: none;
  }

  li>a.rsswidget {
    .font-color-gray-light;
    text-align: justify;
  }

  .rssSummary {
   .font-color-gray-dark;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    text-align: justify;
  }

  .rss-date {
    .font-color-gray-light;
    font-size: 12px;
    font-style: italic;
    &:before {
      content: "[";
    }
    &:after {
      content: "]";
    }
  }

  //Tag cloud
  .tagcloud {

    a {
      background-color: #222;
      display: inline-block;
      .font-color-gray-light;
      font-size: 12px !important;
      font-weight: 400;
      letter-spacing: 2px;
      margin-left: 7px;
      margin-bottom: 10px;
      padding: 5px 6px;
    }
  }
}


