.dm-hero-1 {
  height: 100vh;
  min-height: 500px;
  padding-top: 250px;
  width: 100%;

  .dm-title {
    font-weight: 200!important;
    letter-spacing: (@h1-font-size/20) + px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 17px;
    .responsive-text-size(@h1-font-size * 1.2)!important;
    text-align: center;
    width: 50%;
  }

  .dm-subtitle {
    font-weight: 200;
    letter-spacing: (@h2-font-size/5) + px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    width: 35%;
  }
}


.dm-hero-2 {
  height: 100vh;
  min-height: 500px;
  padding-top: 30vh;
  width: 100%;

  .dm-title {
    font-weight: 200 !important;
    letter-spacing: (@h1-font-size/20) + px;
    margin: 0 auto;
    padding-top: 17px;
    padding-bottom: 17px;
    .responsive-text-size(@h1-font-size * 2)!important;
    text-align: center;
    width: 50%;
  }

  .dm-subtitle {
    font-weight: 300;
    letter-spacing: (@h2-font-size/5) + px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    width: 35%;
  }
}