.jobUnit-1 {
  border: 2px solid @color-1;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  .content {
    .font-color-gray-dark;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 2em;
    padding-right: 2em;

    .heading {
      font-weight: 100;
      letter-spacing: (@h1-font-size/10) + px;
      text-align: center;
    }

    .subheading {
      .font-color-1;
      letter-spacing: (@h4-font-size/14) + px;
      margin-top: 1.5em;
      margin-bottom: 0.3em;
      text-align: left;
    }

    p {
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }

  .btn-action {
    .bg-color-1;
    .font-color-white;
    margin-top: 1.5em;
    text-align: center;

    h4 {
      display: inline-block;
      letter-spacing: 2px;
      margin-left: 5px;
    }

    i {
      font-size: 1.5em;
    }
  }
}