.section-personalized-service-1 {
  position: relative;

  .dm-title {
    .font-2;
    letter-spacing: (@h1-font-size/20) + px;
    line-height: 0.9;
    margin: 0 auto;
  }

  .dm-description {
    font-weight: 200;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1.8;
    margin: 0 auto;
  }
}