.dm-portfolio-item {
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;

  .dm-title {
    margin-bottom: 30px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
      letter-spacing: (@h1-font-size/10) + px !important;
      .font-color-1;
    }
  }

  .dm-image{
    width: 100%;
  }

  .dm-separator {
    .bg-color-1;
    height: 200px;
    left: 19px;
    position: absolute;
    top: 0;
    width: 2px;
  }

  .dm-content-container {
    padding-left: 35px;

    .dm-title {
      font-weight: 100;
      letter-spacing: 3px;
      margin-top: 0;
    }

    .dm-highlight {
      font-weight: 400;
      letter-spacing: 2px;
    }

    .dm-normal-text {
      letter-spacing: 1px;
    }

    .dm-btn-action {
      border: 1px solid;
      border-radius: 18px;
      cursor: pointer;
      .font-1;
      height: 36px;
      letter-spacing: 2px;
      line-height: 36px;
      margin-top: 20px;
      text-align: center;
      width: 170px;
    }
  }
}

