.dm-post-grid {
  margin-top: 30px;

  .dm-grid-filters {
    margin-bottom: 30px;
    text-align: center;

    .dm-filter-btn {
      cursor: pointer;
      display: inline-block;
      letter-spacing: 3px;
      list-style-type: none;
      margin: 0 15px;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;

    }

    &.dm-skin-1 {
      .dm-filter-btn {
        border: 1px solid #f1f1f1;
        border-radius: 20px;
        padding: 5px 13px;
        &:hover {
          background-color: #f1f1f1;
          padding: 5px 25px;
        }
      }
    }

    &.dm-skin-2 {
      .dm-filter-btn {
        background-color: @color-1;
        border-radius: 20px;
        color: #fff;
        padding: 5px 13px;

      }
      .dm-filter-btn:hover {
        font-weight: 700;
        letter-spacing: 4px;
        opacity: 0.65;
        padding: 5px 25px;
      }
    }

    &.dm-skin-3 {
      .dm-filter-btn {
        background-color: @color-gray-dark;
        border-radius: 20px;
        color: #fff;
        padding: 8px 21px;

      }
      .dm-filter-btn:hover {
        font-weight: 700;
        letter-spacing: 4px;
        padding: 8px 35px;
      }
    }
  }
}