.main_preloader {
  background-color: rgba(255,255,255,1);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  z-index: 11000;
}

.loader-inner>div {
  background-color: @color-1 !important;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 50vh;
  -webkit-transform: scale(0.8); /* Safari */
  -ms-transform: scale(0.8); /* IE 9 */
  transform: scale(0.8);
  width: 100px;
}

