.product-display {
  h1 {
    .responsive-text-size(@h1-font-size * 2.5)!important;
    font-weight: 200!important;
    letter-spacing: 23px;
  }

  h2 {
    letter-spacing: 5px;
  }

  h3 {
    letter-spacing: 4px;
  }
}