.dm-progress-bar{
  .dm-progress{
    height: 7px;
    width: 100%;
  }

  .dm-current-progress {
    height: 7px;
  }

  .dm-title {
    .font-color-white;
    letter-spacing: 5px;
    position: relative;
    top: -17px;
    text-align: right;
  }
}

.dm-test-number {
  margin-top: -98px;
  text-align: center;
  width: 150px;

}