.dm_qa{
  margin-bottom: 40px;
  text-align: center;

  i{
    border: 2px solid #000000;
    border-radius: 50%;
    height: 85px;
    line-height: 85px;
    text-align: center;
    width: 85px;
  }

  .dm_question{
    font-weight: 900;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
  }

  .dm_answer {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }
}