.dm-service-item-1 {

  .dm-icon-container {
    display: inline-block;
    position: relative;
    width: 20%;

    .dm-icon {
      font-size: 2em;
      line-height: 75px;
      text-align: center;
      width: 100%;
      z-index: 100;
    }

    .dm-icon-background {
      left: 0;
      margin-left: 0;
      max-width: 100%;
      position: absolute;
      text-align: center;
      width: 80px;
      z-index: -1;
    }

    .dm-separator {
      height: 70px;
      position: absolute;
      right: -15px;
      top: 0;
    }
  }

  .dm-content-container {
    display: inline-block;
    left: 15px;
    position: relative;

    .dm-title {
      font-weight: 100;
      letter-spacing: (@h3-font-size/15) + px;
      margin-top: 0;
    }

    .dm-description {
      font-weight: 200;
      letter-spacing: 1px;
    }
  }
}


.dm-service-item-2 {
  position: relative;

  .dm-image {
    width: 100%;
  }

  .dm-content-container {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .dm-title {
    font-weight: 100;
    letter-spacing: (@h3-font-size/15) + px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 85%;
  }

  .dm-description {
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}