.dm-slider {
  .dm-slider-inner {
    z-index: -1;
    top: 0;
    left: 0;
  }

  .dm-nav-button {
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 50%;
    cursor: pointer;
    .font-color-gray-dark;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 42px;
  }

  .dm-nav-button-left {
    display: none;
    left: 20px;
    position: absolute;
    top: 50px;
  }

  .dm-nav-button-right {
    display: none;
    right: 20px;
    position: absolute;
    top: 50px;
  }
}