.dm-team-member {
  margin-bottom: 60px !important;
  text-align: center;

  .dm-image {
    max-width: 250px;
    width: 70%;
  }

  .dm-title {
    font-weight: 400 !important;
    letter-spacing: 5px;
  }

  .dm-subtitle {
    letter-spacing: 2px;
  }
}