.dm-testimonial-1 {
  .dm-image {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .dm-outer-container {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 95%;

    .dm-inner-container {
      margin: 0 auto;
      width: 70%;
    }

    .dm-icon-quote-left {
      font-size: 25pt;
      left: 0;
      position: absolute;
      top: 0;
    }

    .dm-icon-quote-right {
      font-size: 25pt;
      position: absolute;
      right: 0;
      top: 0;
    }

    .dm-body {
      font-style: italic;
    }

    .dm-title {
      font-weight: 700;
    }

    .dm-quote-text {
      margin: 20px auto 0;
      width: 70%;
    }
  }
}