.dm-title-band-big-text-1 {
  padding-top: 90px;
  padding-bottom: 130px;

  .dm-title{
    font-weight: 100;
    letter-spacing: (@h1-font-size/15) + px;
    .responsive-text-size(@h1-font-size * 3);
  }

  .dm-subtitle {
    font-style: italic;
    letter-spacing: 4px;
  }

  .dm-image {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    min-width: 200px;
    width: 30%;
  }
}