.dm-title-band-1 {
  padding-top: 20px;
  padding-bottom: 20px;

  .dm-icon {
    display: inline-block;
    font-size: 2.5em;
    position: relative;
    top: -14px;
  }

  .dm-content {
    color: #fff;
    display: inline-block;
    margin-left: 20px;

    .dm-title {
      letter-spacing: (@h2-font-size/10) + px;
      margin-bottom: 5px;
      text-align: left;
    }

    .dm-subtitle {
      font-weight: 100;
      letter-spacing: 1px;
      margin-top: 0px;
      text-align: left;
    }
  }

  .dm-separator {
    background-color: #fff;
    display: inline-block;
    height: 5em;
    margin-left: 10px;
    position: relative;
    top: 10px;
    width: 1px;
  }
}
