.title-section-type-1 {
  h1 {
    .font-1;
    .font-color-gray-dark;
    letter-spacing: (@h1-font-size/6) + px;
  }
}

.section-title-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  .title {
    font-weight: 100 !important;
    letter-spacing: (@h1-font-size/15) + px;
    margin: 0 auto;
    width: 70%;
  }

  .separator {
    margin: 10px auto 0;
    width: 20%;
  }
}