.dm-container + .vc_controls-container {
  opacity: 1 !important;
  display: block !important;
  visibility: visible !important;

  .vc_controls-out-tl {
    top: 5px !important;
    left: 42% !important;

    .vc_btn-content {
      background-color: #1abc9c !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      display: inline-block!important;
    }
  }
  .vc_control-btn-append {
    -ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
    top: -25px !important;
    .vc_btn-content {
      background-color: #1abc9c !important;
    }
    &:before {
      border-bottom-color:  #1abc9c !important;
      border: none;
    }
  }
}

.dm-container.vc_empty-element {
  &:after {
    display: none !important;
  }
}